<!DOCTYPE html>
<html>
<head>
   <title>Movies Dashboard</title>
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/introjs.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">


</head>
<body class ="application">
   <div  id="loading" > <img src="{{ url_for ('static', filename='image/loading.gif')}}"></div>
<div id="blocks">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="./">Movies Dashboard</a>
            <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!
            </button>
       </div>
   </div>
</div>

<div  id="outer" class="container-fluid">

<div class="row">
    <!-- Movie Profit Change Over Time -->
               <div class="col-lg-12">
                   <div class="chart-wrapper" data-step="1" data-intro="This graph displays the movie profit change over a specific time period between 2006-2013" style="font-weight: normal" data-position="bottom">
                       <div class="chart-title">
                           Movie Profit Change Over Time</div>
                       <div class="chart-stage">
                           <div id="time-line-chart"></div>
                       </div>
                   </div>
               </div>



    <!-- Movie Budget Change Over Time -->
               <div class="col-lg-12">
                   <div class="chart-wrapper" data-step="2" data-intro="This graph displays the movie budget change over a specific time period between 2006-2013." style="font-weight: normal" data-position="top">
                       <div class="chart-title">
                           Movie Budget Change Over Time</div>
                       <div class="chart-stage">
                           <div id="num-movies-per-year"></div>
                       </div>
                   </div>
               </div>




  <!--  Highest Rated Movie on IMDB -->
               <div class="col-lg-12">
                   <div class="chart-wrapper" data-step="3" data-intro="This chart displays the change over time in accumulated IMDB score per year." style="font-weight: normal" data-position="top" >
                       <div class="chart-title">
                           Highest Rated Movie on IMDB</div>
                       <div class="chart-stage">
                           <div id="highest-rated-chart"></div>
                       </div>
                   </div>
               </div>



       <!-- Total Gross by Genre -->
               <div class="col-lg-6">
                   <div class="chart-wrapper" data-step="4" data-intro="This chart diplays the total Gross per Genre between the years 2006-2016." style="font-weight: normal" data-position="right">
                       <div class="chart-title">
                           Total Gross by Genre
                       </div>
                       <div class="chart-stage">
                           <div id="funding-by-genre-row-chart"></div>
                       </div>
                   </div>
               </div>



           <!-- Highest Grossing Movies -->
               <div class="col-lg-6">
                   <div class="chart-wrapper" data-step="5" data-intro="This chart diplays the highest Grossing Movie between 2006-2016." style="font-weight: normal" data-position="left">
                       <div class="chart-title">
                           Highest Grossing Movies</div>
                       <div class="chart-stage">
                           <div id="funding-by-title-row-chart"></div>
                       </div>
                   </div>
               </div>

    <div>
    <!-- Most Profitable Movie Leaderboard -->
  <div class="col-lg-6">
           <div class="chart-wrapper" data-step="6" data-intro="This chart diplays the highest Profitable Movie between 2006-2016.(Gross-Budget)" style="font-weight: normal" data-position="right">
               <div class="chart-title">
                   Most Profitable Movie Leaderboard</div>
               <div class="chart-stage">
                   <div id="most-profitable-row-chart"></div>
               </div>
           </div>
  </div>


    <!-- Most Expensive Movie -->
               <div class="col-lg-6">
                   <div class="chart-wrapper" data-step="7" data-intro="This chart diplays the Most Expensive Movie between 2006-2016." style="font-weight: normal" data-position="left">
                       <div class="chart-title">
                           Most Expensive Movie </div>
                       <div class="chart-stage">
                           <div id="most-expensive-pie-chart"></div>
                       </div>
                   </div>
               </div>
    </div>


<div>
    <!-- Total Gross -->
       <div class="col-lg-6">
           <div class="chart-wrapper" data-step="8" data-intro="This chart diplays the Total Amount Grossed in Movies between 2006-2016." style="font-weight: normal" data-position="right">
               <div class="chart-title">
                   Total Gross Made in USD</div>
               <div class="chart-stage">
                   <div id="total-gross-nd"></div>
               </div>
           </div>
       </div>



                <!-- Total Budget Spent -->
       <div class="col-lg-6">
           <div class="chart-wrapper" data-step="9" data-intro="This chart diplays the Total Amount Spent in Movies between 2006-2016." style="font-weight: normal" data-position="left">
               <div class="chart-title">
                   Total Budget Spent </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="total-budgets-nd"></div>
               </div>
           </div>
       </div>

</div>

    <div>
{#<!-- Total Movies -->#}
{#       <div class="col-lg-2">#}
{#           <div class="chart-wrapper">#}
{#               <div class="chart-title">#}
{#                   Total Movies </div>#}
{#               <div class="chart-stage">#}
{#                   <div id="total-movies-nd"></div>#}
{#               </div>#}
{#           </div>#}
{#       </div>#}
{#    </div>#}

    <!--  IMDB Rating vs Profit Chart -->
   <div class="col-lg-12">
                   <div class="chart-wrapper" data-step="10" data-intro="This bubble chart diplays the Score of Movies. Their height indicates the Budget spent, their distance right indicates a higher IMDB score. The size of the bubble indicates the profit made on the movie.NOTE - Click on a Genre in the 'Total Gross by Genre Chart' to activate. " style="font-weight: normal" data-position="top">
                       <div class="chart-title">
                           IMDB Rating vs Profit Chart</div>
                       <div class="chart-stage">
                           <div id="bubble-chart"></div>
                       </div>
                   </div>
                </div>

            <hr>
    </div>
</div>
    </div>
</div>

   <p class="small text-muted"> Data Visualisation Dashboard by Chris Healy</p>


<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="{{ url_for ('static', filename='js/intro.js')}}"></script>


</body>
</html>