<!DOCTYPE html>
<html>
<head>
   <title>Movies Dashboard</title>
   <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/keen-dashboards.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">


</head>
<body class ="application">
   <div  id="loading" > <img src="{{ url_for ('static', filename='image/loading.gif')}}"></div>
<div id="blocks">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="./">Movies Dashboard</a>
       </div>
   </div>
</div>

<div  id="outer" class="container-fluid">


    <!-- Movie Profit Change Over Time -->
               <div class="col-md-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Movie Profit Change Over Time</div>
                       <div class="chart-stage">
                           <div id="time-line-chart"></div>
                       </div>
                   </div>
               </div>



    <!-- Movie Budget Change Over Time -->
               <div class="col-md-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Movie Budget Change Over Time</div>
                       <div class="chart-stage">
                           <div id="num-movies-per-year"></div>
                       </div>
                   </div>
               </div>




  <!--  Highest Rated Movie on IMDB -->
               <div class="col-md-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Highest Rated Movie on IMDB</div>
                       <div class="chart-stage">
                           <div id="highest-rated-chart"></div>
                       </div>
                   </div>
               </div>



       <!-- Total Gross by Genre -->
               <div class="col-lg-6">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Total Gross by Genre
                       </div>
                       <div class="chart-stage">
                           <div id="funding-by-genre-row-chart"></div>
                       </div>
                   </div>
               </div>



           <!-- Highest Grossing Movies -->
               <div class="col-lg-6">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Highest Grossing Movies</div>
                       <div class="chart-stage">
                           <div id="funding-by-title-row-chart"></div>
                       </div>
                   </div>
               </div>

    <div>
    <!-- Most Profitable Movie Leaderboard -->
  <div class="col-lg-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Most Profitable Movie Leaderboard</div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="most-profitable-row-chart"></div>
               </div>
           </div>
  </div>

    <!-- Most Expensive Movie -->
               <div class="col-lg-6">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Most Expensive Movie </div>
                       <div class="chart-stage">
                           <div id="most-expensive-pie-chart"></div>
                       </div>
                   </div>
               </div>

    </div>


<div>
    <!-- Funding by Genre -->
       <div class="col-lg-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Gross Made in USD</div>
               <div class="chart-stage">
                   <div id="total-gross-nd"></div>
               </div>
           </div>
       </div>



                <!-- Total Budget Spent -->
       <div class="col-lg-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Budget Spent </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="total-budgets-nd"></div>
               </div>
           </div>
       </div>

</div>

    <div>
<!-- Total Movies -->
       <div class="col-lg-2">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Movies </div>
               <div class="chart-stage">
                   <div id="total-movies-nd"></div>
               </div>
           </div>
       </div>
    </div>

    <!--  IMDB Rating vs Profit Chart -->
   <div class="col-lg-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           IMDB Rating vs Profit Chart</div>
                       <div class="chart-stage">
                           <div id="bubble-chart"></div>
                       </div>
                   </div>
                </div>

            <hr>
    </div>

   <p class="small text-muted"> Data Visualisation Dashboard by Chris Healy</p>


<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>

</body>
</html>